* {
  font-size: 28px;
}
body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 2s ease-in-out linear;
}
.score {
  display: flex;
  gap: 20px;
}
.screen {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: rgb(123, 87, 87) solid 3px;
}
.buttons {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.button {
  border: 5px solid #aaaaaa;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.computer {
  border: 5px solid #aaaaaa;
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  user-select: none;
}
.resultBox {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border: 5px solid #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.winningState{
  height: 100%;
  top: 300px;
  position: relative;
  animation: color 4.5s infinite linear;
}
@keyframes color {
  0% {
    background: #33cccc;
  }
  20% {
    background: #33cc36;
  }
  40% {
    background: #b8cc33;
  }
  60% {
    background: #fcca00;
  }
  80% {
    background: #33cc36;
  }
  100% {
    background: #33cccc;
  }
}
